@media screen and (max-width: 401px) {
    p {
        font-size: 15px;
    }

    section {
        padding: 15px;
    }

    .navbar-brand {
        font-size: 16px;
    }

    .navbar-default .nav li a {
        color: #777;
    }

    section h3.section-subheading {
        margin-bottom: 25px;
    }

    .jumbotron {
        background-image: url(../img/header-xs.jpg);
        margin-top: 51px;
        height: 200px;
    }

    .jumbotron .intro-text {
        font-size: 12px;
        padding-top: 50px;
    }

    #navEducation {
        display: none;
    }

    .portfolio-details {
       font-size: 16px;
    }

    .portfolio-modal .modal-content h2 {
        font-size: 1.5em;
    }

    #portfolio, #about {
        padding: 80px 0 0;
    }

}

@media screen and (min-width: 402px) {
    .jumbotron {
        min-height: 255px;
    }

    .jumbotron .intro-text {
        padding-top: 22%;
        font-size: 15px;
    }
}

@media screen and (min-width: 500px) {
    .jumbotron {
        max-height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default .nav li a {
        color: #777;
    }
}

@media screen and (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

@media screen and (min-width:768px) {
    section {
        padding: 80px 0;
    }

    .jumbotron {
        max-height: 515px;
        min-height: 400px;
    }

    .jumbotron .intro-text {
        font-size: 28px;
        line-height: 40px;
        padding-bottom: 200px;
        padding-left: 106px;
    }

    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #fff;
        border-bottom: 1px solid lightgray;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-default.navbar-shrink .nav li a {
        color: #777;
    }

    #navName {
        font-size: 1.4em;
    }

    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media screen and (min-width:992px) {
    .jumbotron {
        max-height: 100vh;
        min-height: 600px;
    }

    .jumbotron .intro-text {
        font-size: 42px;
        line-height: 60px;
        padding-top: 290px;
        padding-bottom: 200px;
        padding-left: 106px;
    }

    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media screen and (min-width:1200px) {
    .jumbotron {
        max-height: 100vh;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}